# Ignore all dotfiles...
.*

# except for .gitignore
!.gitignore

# Ignore Play! working directory #
#db
logs
modules
project/project
project/target
target
tmp
test-result
server.pid
*.iml
*.eml
/RUNNING_PID

# Ignore Scala #
**/*.log

# Ignore sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
